/* GENERAL COLOURS */
:root {
    --night: #0d0a0bff;
    --mint-cream: #f7fff7ff;
    --african-violet: #a192c8ff;
    --bittersweet: #fe5f55ff;
    --ebony: #697268ff;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
    margin: 0.5%;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    font-family: 'Libre Franklin', sans-serif;
}

/* NAVIGATION BAR */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 1em;
    background-color: var(--night);
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.nav-logo img {
    margin-top: 0.3rem;
}

.nav-logo:hover img {
    transform: scale(1.08);
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #f7fff7ff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

body {
    background-image: url('../images/background.png');
    background-attachment: fixed;
    background-position: top left;
    background-size: cover;
}

/* PAGE TITLE SECTION */
.page-title-section {
    position: relative;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}

.page-title {
    opacity: 0;
    font-size: 9rem;
    font-style: italic;
    position: absolute;
    bottom: 3rem;
    left: 0;
    margin: 0;
    animation: fade-in 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

.title-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-image img {
    opacity: 0.95;
    z-index: -1;
    filter: drop-shadow(5px 5px 5px #222)
}

@media (max-width: 600px) {
    .navbar {
        background-color: #0d0a0bff;
        border-radius: 10px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
        width: 100%;
    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: calc(100% - 1em);
        margin-left: 0.5em;
        margin-right: 0.5em;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: var(--mint-cream);
        background-color: var(--night);
    }

    .menu a,
    a:visited,
    a:hover {
        text-decoration: none;
        color: #f7fff7ff;
    }

    .page-title {
        font-size: 13vh;
        margin-bottom: 3vh;
    }

    .title-image img {
        width: 65%;
    }
}

@media all and (min-width: 601px) and (max-width: 967px) {

    /* tablet */
    .navbar {
        background-color: #0d0a0bff;
        border-radius: 10px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: calc(100% - 1em);
        margin-left: 0.5em;
        margin-right: 0.5em;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #f7fff7ff;
        background-color: #0d0a0bff;
    }

    .menu a,
    a:visited,
    a:hover {
        text-decoration: none;
        color: #f7fff7ff;
    }

    .page-title {
        font-size: 14vh;
        margin-bottom: 3vh;
    }

    .title-image img {
        width: 60vh;
    }

}

@media all and (min-width: 968px) {
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        background-color: #0d0a0bff;
        border-radius: 0.6rem;
        width: 46%;
        height: 2.7rem;
        margin: auto;
        opacity: .95;
    }

    .navbar:hover {
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    }

    .navbar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navbar li {
        list-style-type: none;
        display: inline;
    }

    .navbar li a {
        text-decoration: none;
        color: #f7fff7ff;
        font-size: 70%;
        font-weight: 400;
        transition: all 0.1s ease-in-out;
        padding: 0rem;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar li a:hover {
        font-weight: bold;
    }

    .navbar .nav-logo:hover img {
        transform: scale(1.08);
    }

    #current {
        background-color: #f7fff7ff;
        color: #0d0a0bff;
        padding: 9px;
        border-radius: 0.5rem;
    }

    .title-image img {
        width: 47vh;
    }

    .page-title {
        font-size: 22vh;
        margin-bottom: 3vh;
    }
}